.content{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content p{
    height: 90%;
}

.content button{
    width: 100%;
    height: 72px;
    padding: 16px;
    font-size: 48px;
    background-color: blue;
}

.content :hover,
.content :active{
    background-color: #eee;
}