.submenu button {  
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  padding: 9px;  
  /*position: relative;*/
  width: 100%;
  font-size: 14px;
}

.submenu button:hover {
  cursor: pointer;
}

.submenu button:hover,
.submenu button:active {
  background-color: #eee;
}